.map {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.map-container {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background-color: #fff;
    height: calc(100% - 6rem);
    width: calc(30rem - 6rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin: 1rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: #168388;
    h1 {
        margin: 0;
    }

    p {
        justify-self: end;
    }
}

.sidebar-header-route {
    background-color: #168388;
    padding: 0.5rem;
    border-radius: 10%;
    h1 {
        color: #fff;
        margin: 0;
    }
}

.sidebar-header-right-cluster {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.sidebar-body-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.sidebar-body-schedule {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sidebar-body-schedule-status {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.1rem;
}

.sidebar-body-schedule-occupancy {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.sidebar-body-schedule-occupancy-carriage {
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0.1rem;
    p {
        height: 1rem;
        width: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sidebar-body-dot {
    position: absolute;
    left: 0rem;
    height: 0.75rem;
    width: 0.75rem;
    background-color: #168388;
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 100%;
    z-index: 9998;
}

.sidebar-body-innerdot {
    position: absolute;
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 100%;
    background-color: #fff;
    z-index: 9999;
}

.sidebar-body-stop {
    padding-left: 1rem;
}

.sidebar-body-bar {
    position: absolute;
    left: 0.25rem;
    top: 1rem;
    overflow-y: scroll;
    height: calc(100% - 2rem);
    width: 4px;
    background-color: #168388;
    z-index: 9996;
}

.sidebar-body-bar-cover {
    position: absolute;
    left: 0.25rem;
    top: 1rem;
    overflow-y: scroll;
    height: 0;
    width: 4px;
    background-color: #d3d3d3;
    z-index: 9997;
}
