
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background-color: #fff;
    height: calc(100% - 2rem);
    width: calc(30rem - 2rem);
    display: flex;
    flex-direction: column;

    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: #fff;
    width: calc(100% - 4rem);

    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: #000;

    padding: 2rem; 
    z-index: 9999;

    h2 {
        margin: 0;
    }

    p {
        justify-self: end;
    }
}

.sidebar-header-left-cluster {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
    }

    p {
        justify-self: end;
    }
}

.sidebar-header-right-cluster {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.sidebar-header-route {
    background-color: #168388;
    padding: 0.5rem;
    border-radius: 10%;
    h2 {
        color: #fff;
        margin: 0;
    }
}

.sidebar-body {
    width: calc(100% - 4rem);
    height: 100%;
    overflow: hidden;
    margin: 0 2rem 1rem 2rem;
}

.sidebar-body-wrapper {
    position: relative;
    height: 100%;
}

.sidebar-body-content {
    position: relative;
    display: flex;
    overflow-y: scroll;
    max-height: 850px;
    scrollbar-width: none;

    padding-bottom: 0;
    
    flex-direction: column;
}

.sidebar-body-schedule-stop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 2.25rem;
    border-bottom: 2px solid #d3d3d3AA;
}

.sidebar-body-schedule-stop.pad-top {
  margin-top: 3rem;
}

.sidebar-body-schedule-stop.pad-bottom {
  margin-bottom: 3rem;
}

.sidebar-body-schedule-vehicle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0rem;
    border-bottom: 2px solid #d3d3d3AA;
}

.sidebar-body-schedule-status {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sidebar-body-schedule-occupancy {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.sidebar-body-schedule-occupancy-carriage {
    width: 19px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    p {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sidebar-body-dot {
    position: absolute;
    left: -2rem;
    height: 0.75rem;
    width: 0.75rem;
    background-color: #168388;
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 100%;
    z-index: 9998;
}

.sidebar-body-innerdot {
    position: absolute;
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 100%;
    background-color: #fff;
    z-index: 9999;
}

.sidebar-body-stop {
    padding-left: 1rem;
}

.sidebar-body-stop-route {
    position: absolute;
    left: 0;
    width: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.25rem;
    border-radius: 10%;
    p {
        color: #fff;
        margin: 0;
    }
}

.sidebar-body-bar {
    position: absolute;
    left: 0.25rem;
    height: 100%;
    width: 4px;
    background-color: #168388;
    z-index: 9996;
}

.sidebar-body-bar-cover {
    position: absolute;
    left: 0.25rem;
    height: 0;
    width: 4px;
    background-color: #d3d3d3;
    z-index: 9997;
}
